<h3>All Applications</h3><br>

<% @applications.each do |application| %>

    <%= link_to "#{application.applicant_name}", "/applications/#{application.id}" %>
    <p>Status: <%= application.status %> </p>

<% end %>
