<h1>Welcome to Adopt, Don't Shop!</h1><br>

<h3><%= link_to "Apply for a Pet!", "/applications/new" %></h3>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "please_adopt_us.jpg", alt: "dog and cat saying please adopt us", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "puppy.jpg", alt: "rescued puppy", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "pets.jpg", alt: "pets with tags", class: "d-block w-100" %>
    </div>
  </div>
</div>
